[paths]
core_excel = paper_database.xlsx
update_excel = submit_template.xlsx
update_json = submit_template.json
my_update_excel = my_submit.xlsx
my_update_json = my_submit.json
backup_dir = scripts/backups/
figure_dir = figures/

[ai]
enable_ai_generation = true
deepseek_api_key_path = F:\Files Personal\BaiduSyncdisk\Files Personal Sync\profile\Keys\survey_deepseek_api.txt
api_key_github_secret_name=DEEPSEEK_API

[excel]
password_path = F:\Files Personal\BaiduSyncdisk\Files Personal Sync\profile\Keys\paper_database_key.txt
excel_key_github_secret_name=EXCEL_KEY

header_fill_color: BDD7EE        
required_header_color: 366092    
required_column_fill: DDEBF7     
conflict_fill_color: FFCCCC      
header_font_color: FFFFFF        

[database]
default_contributor = anonymous
conflict_marker = [💥冲突]
conflict_resolution=mark
remove_added_paper_in_template = false

[readme]
max_title_length = 100
max_authors_length = 150
date_format = YYYY-MM-DD

